{% extends '_templates/base.njk' %}
{% set relative_path = "../" %}
{% from '_macros/prose.njk' import prose %}

{% block page_title %}{{ headline }}{% endblock %}

{% block page_description %}{{ headline }} by Isabella Lawson{% endblock %}

{% block content %}
<article class="container">
  <div class="row">
    <div class="col-12">
      <!-- Image floating to the left -->
      <img src="../img/{{ image }}" alt="{{ altText }}" class="img-fluid mb-4 float-left mr-4" style="max-width: 50%;">
      
      <h1>{{ headline }}</h1>
      <p class="byline text-muted">By Isabella Lawson | {{ date }}</p> 
      <hr>
      {{ prose(post) }}
    </div>
  </div>
</article>
{% endblock %}
