{% extends '_templates/base.njk' %}

{% block content %}{% block page_title %}Intro{% endblock %}
<div class="container">
  <div class="row">
    <div class="col">
    <h1>Let's learn Japanese!</h1>
      <p>Follow my Japanese language learning journey, from blog posts to Japanese textbook/resourse reviews, this is the place for you!</p>
    </div>
  </div>
</div>
{% endblock %}